<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a note</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_note.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('note.view_notes') }}">Home</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    <h1>Add a note</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(rows=4, cols=32) }}
        </p>
        <p>
            {{ form.image.label }}<br>
            <label for="image" class="custom-file-upload">
                Upload photo
            </label>
            {{ form.image(id="image") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>

</html>