{% extends "base.html" %}

{% block content %}
<h2>Welcome to the camping and travel community, {{ user }}</h2>

<!-- Separate form for adding a note -->
<div class="add-note-form">
    <form action="{{ url_for('note.add_note') }}" method="GET">
        <button type="submit" class="submit-btn">Create post</button>
    </form>
</div>

<!-- List of notes -->
<ul class="notes-list">
    {% for note in notes %}
    <li class="note-item">
        <h2><a href="{{ url_for('note.view_note', note_id=note.id) }}">{{ note.title }}</a></h2>
        {% if note.image_filename %}
        <img src="{{ url_for('static', filename='uploads/' + note.image_filename) }}" alt="picture" width="200">
        {% endif %}
        <p>{{ note.content }}</p>
        <small>Posted by: {{ note.user.username }}</small> <!-- แสดงชื่อผู้โพสต์ -->
    </li>
    {% endfor %}
</ul>
{% endblock %}