<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ note.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/note_detail.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('note.view_notes') }}">Home</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    <h1>{{ note.title }}</h1>

    {% if note.image_filename %}
    <img src="{{ url_for('static', filename='uploads/' + note.image_filename) }}" alt="รูปภาพ" width="200">
    {% endif %}
    <p>{{ note.content }}</p>
    <h3>เพิ่มความคิดเห็น</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.content.label }}<br> {{ form.content(rows=4, cols=40) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <h2>ความคิดเห็น</h2>
    <ul>
        {% for comment in comments %}
        <li>{{ comment.content }} - {{ comment.created_at }}</li>
        {% endfor %}
    </ul>
</body>

</html>